.App {
    text-align: center;
  }
  
  .App-header {
    background-color: #282c34; /* Dark background color */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .justify-content-center {
    background-color: #6C5B7B; /* Subtle purple background color */
    font-weight: bolder;
    color: black;
  }
  
  .login {
    background-color: #FF6B6B; /* Reddish color */
    color: white;
    border-color: #FF6B6B;
    text-align: center;
    border-radius: 50%;
    height: 75px;
    width: 75px;
    margin: 5px;
  }
  
  .signup {
    background-color: #FFB677; /* Peach color */
    color: white;
    border-color: #FFB677;
    text-align: center;
    border-radius: 50%;
    height: 75px;
    width: 75px;
    margin: 5px;
  }
  .signupbtn {
    background-color: rgb(252, 157, 40);
    color: white;
    border-color: rgb(252, 157, 40);
    text-align: center;
    border-radius: 10%;
    height: 40px;
    width: 75px;
    margin: 5px;
  }
  .loginbtn {
    background-color: rgb(237, 124, 26);
    color: white;
    border-color: rgb(237, 124, 26);
    text-align: center;
    border-radius: 10%;
    height: 40px;
    width: 75px;
    margin: 5px;
  }
  
  .searchbtn {
    background-color: #4F6D7A; /* Dark teal color */
    color: white;
    border-color: #4F6D7A;
    text-align: center;
    border-radius: 10%;
    height: 40px;
    width: 75px;
    margin: 5px;
  }
  
  .addrecipebtn {
    background-color: #FF9A8B; /* Light coral color */
    color: white;
    border-color: #FF9A8B;
    text-align: center;
    border-radius: 10%;
    height: 40px;
    width: 100px;
    margin: 5px;
  }
  
  
  .deletebtn {
    background-color: #D4A5A5; /* Light reddish color */
    color: white;
    border-color: #D4A5A5;
    text-align: center;
    border-radius: 10%;
    height: 40px;
    width: 150px;
    margin: 5px;
  }
  
  .editbtn {
    background-color: #A1C181; /* Pale green color */
    border-color: #A1C181;
    text-align: center;
    border-radius: 10%;
    height: 40px;
    width: 150px;
    margin: 5px;
  }
  .signupimg {
    position: relative;
  }
  .signupimg::after {
    content: '';
    background-image: url('/src/backgroundImages/colorfulpeppers.png');
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 100vh;
    opacity: 0.3;
    z-index: -1;
  }
  .loginimg {
    position: relative;
  }
  .loginimg::after {
    content: '';
    background-image: url('/src/backgroundImages/nathanunsplash.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 100vh;
    opacity: 0.3;
    z-index: -1;
  }
  
  
  .nutrtion{
    color: rgb(242, 91, 9)
  }
  
  .aboutbg {
    background-color: rgb(255, 244, 96);
  }
  
  .addbacktorecipebtn {
    background-color: rgb(237, 124, 26);
    color: white;
    border-color: rgb(237, 124, 26);
    text-align: center;
    border-radius: 10%;
    height: 40px;
    width: 200px;
    margin: 5px;
  }